@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Tangerine" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Quattrocento&display=swap" rel="stylesheet" />
    <style>
        p.subtitle {
            font-family: 'Roboto';
            font-size: 14px;
        }

        p.description {
            font-family: 'Quattrocento';
            font-size: 16px;
            border-radius: 15px;
            border: 1px inset;
            padding: 7px 14px;
        }

        div.Title {
            font-family: 'Quattrocento', serif;
            font-size: 24px;
            text-shadow: 4px 4px 4px #aaa;
        }

        body {
            font-family: 'Quattrocento', serif;
            font-size: 24px;
        }

        footer {
            font-size: 16px;
        }
    </style>

</head>
<body>
    <p class="subtitle">Bachelor of Science in Computer Engineering University of California (UC) Irvine</p>
    <div class="Title">Can you describe yourself?</div>
    <p class="description"> I am detail-oriented, constantly checking in with what's in front of me, whether or not I am doing it right. I am a person who strives to try out new possibilities. In addition I am very self aware of myself and know that I am not a perfect person. But because of this I always try to improve upon my mistakes. In fact whenever I work on a coding project I would constantly ask myself whether I can make it cleaner, and through that I am able to become a better programmer.</p>
    <div class="Title">What are you passionate about?</div>
    <p class="description"> I’m driven every day to create something spectacular with my skills. I want to show people something that is unique and awe inspiring. I have a deep desire to develop amazing things for people to consume, it makes me feel like I’m truly impacting their experience. Perhaps even inspiring them to also strive to make their community a better place. </p>
    <div class="Title">What types of skills do you have?</div>
    <p class="description"> In addition to my technical set of skills, I am flexible in working with many different personality types, and have found that I thrive the most under a trusting and involved environment. I always strive to drive my team be the best that they can be.</p>
</body>
</html>
