.checked {
    color: orange;
}

.fa-star {
    cursor: pointer;
}

div.link {
    text-align: left;
}

a.link {
    background-color: white;
    color: black;
    padding: 2px 4px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-decoration: none;
    text-transform: initial;
    font-size: 12px;
}

.link:hover {
    background: white;
    color: dimgrey;
}

/*button designs*/
.button {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#2d4e63), to(#65a9d7));
    background: -webkit-linear-gradient(top, #2d4e63, #65a9d7);
    background: -moz-linear-gradient(top, #2d4e63, #65a9d7);
    background: -o-linear-gradient(top, #2d4e63, #65a9d7);
    padding: 7px 14px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 13px;
    font-family: Georgia, Serif;
    text-decoration: none;
    vertical-align: middle;
}

    .button:hover {
        border-top-color: #2b5c7d;
        background: #2b5c7d;
        color: #d6cfd6;
    }

    .button:active {
        border-top-color: #265575;
        background: #265575;
    }

.button2 {
    border-top: 1px solid #3281b3;
    background: #647ca6;
    background: -webkit-gradient(linear, left top, left bottom, from(#234491), to(#647ca6));
    background: -webkit-linear-gradient(top, #234491, #647ca6);
    background: -moz-linear-gradient(top, #234491, #647ca6);
    background: -o-linear-gradient(top, #234491, #647ca6);
    padding: 7px 14px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 14px;
    font-family: Georgia, Serif;
    text-decoration: none;
    vertical-align: middle;
}

    .button2:hover {
        border-top-color: #3776c4;
        background: #3776c4;
        color: #f7f7f7;
    }

    .button2:active {
        border-top-color: #1e3a9e;
        background: #1e3a9e;
    }

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.card-columns .card:hover .card-img {
    opacity: 1;
}

.card-columns .card-body {
    height: 100px;
    font-family: 'Constantia', sans-serif;
    background: #fbfafd;
}

.card-columns .card-img {
    height: 430px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity: .8;
}

.modal .card-img {
    height: 500px;
    vertical-align: bottom;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.card-columns .card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(37,33,82,.12), 0 4px 8px rgba(37,33,82,.06);
}


a.navbar-brand {
    white-space: normal;
    font-family: 'Tangerine';
    font-size: xx-large;
    text-align: center;
    word-break: break-all;
}


/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-link:hover {
    font-weight: bold;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

p {
    font-family: 'Roboto', sans-serif;
}

/*main title*/
h1 {
    font-family: 'Tangerine', sans-serif;
    text-shadow: 4px 4px 4px #aaa;
}
/*header tab buttons*/
ul {
    font-family: 'Tangerine', sans-serif;
    font-size: xx-large;
    font-weight: normal;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Roboto', sans-serif;
}
/*Backgrounds*/
.bg-navbar {
    background: -webkit-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: -o-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: -moz-linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
    background: linear-gradient(110deg, #e9a8a6 60%, #252152 60%);
}

.bg-footer {
    background: -webkit-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -o-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: -moz-linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
    background: linear-gradient(110deg, #252152 60%, #e9a8a6 60%);
}
